.ui.vertical.padded.secondary.segment
  .ui.container
    .ui.centered.middle.aligned.stackable.grid
      .row
        .eight.wide.column.center.aligned
          %h1{ style: 'font-size: 45px' }= t 'home_page.intro_title'
          %h3{ style: 'font-size: 25px' }= t 'home_page.intro_body'
        .six.wide.column
          = image_tag 'screen.png', alt: 'screen shot', class: 'ui large image'
