.ui.vertical.padded.secondary.segment
  .ui.container
    .ui.centered.middle.aligned.stackable.grid
      .row
        .eight.wide.column.center.aligned
          %h1= t 'home_page.intro_title'
          %p= t 'home_page.intro_body'
        .six.wide.column
          %img.ui.large.image{ src: 'https://slack.global.ssl.fastly.net/d390/img/landing/header_phone.png' }
