.ui.vertical.padded.segment
  .ui.container
    .ui.centered.grid
      .sixteen.wide.mobile.twelve.wide.tablet.eight.wide.computer.column
        %h2 Reset your password
        %p Please enter a new password for your account.

        = simple_form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'ui form' } do |f|
          = f.hidden_field :reset_password_token
          = f.input :password, placeholder: 'New password', required: true, label: false, autofocus: true, autocomplete: 'off'
          = f.button :submit, 'Submit', class: 'ui blue button'
