.ui.vertical.padded.segment
  .ui.container
    .ui.centered.grid
      .sixteen.wide.mobile.twelve.wide.tablet.eight.wide.computer.column
        %h2 Forgot your password?
        %p Enter your email address to reset your password.

        = simple_form_for resource, as: resource_name, url: password_path(resource_name), html: { class: 'ui form' } do |f|
          = f.input :email, placeholder: 'Email address', required: true, label: false, autofocus: true
          = f.button :submit, 'Submit', class: 'ui blue button'
